.navbar {
	background-color: #4d95ea;
	width: 1300px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.nav_box {
	width: 200px;
	display: flex;
}
.nav_img {
	width: 200px;
}
.nav-ul {
	display: flex;
	justify-content: center;
	align-items: center;

	list-style-type: none;
	gap: 30px;
	margin-left: -200px;
}
.types-selected {
	width: 80px;
	height: 24px;
	border: none;
	border-radius: 8px;
}
.login-btn {
	width: 50px;
	height: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 10px;
	cursor: pointer;
}
.sign-btn {
	width: 70px;
	height: 25px;
	border: none;
	border-radius: 8px;
	margin-left: 10px;
	cursor: pointer;
	background-color: #ffc300;
	color: #fff;
}
.login-box {
	width: 250px;
	border: 1px solid #a4a4a4;
	margin: auto;
	margin-top: 100px;
	padding: 20px;
	border-radius: 8px;
}
.log-name {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 230px;
	height: 30px;
}
.log-psw {
	margin-bottom: 20px;
	width: 230px;
	height: 30px;
}
.log-p {
	/* margin-left: -170px; */
	margin-top: -10px;
	margin-bottom: 4px;
	opacity: 0.5;
}
.log-p1 {
	/* margin-left: -170px; */
	margin-top: 0px;
	margin-bottom: -18px;
	opacity: 0.5;
}
.login-btn1 {
	width: 200px;
	height: 30px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	background-color: #b0c4de;
	color: #fff;
	margin: auto;
	display: block;
}
.log-img-one {
	width: 130px;
}
.log-logo {
	width: 30px;
	border: 1px solid #c9c9c9;
	padding: 2px;
	border-radius: 7px;
	cursor: pointer;
	margin-left: 20px;
}
.sms-logo {
	width: 30px;
	border: 1px solid #c9c9c9;
	padding: 2px;
	border-radius: 7px;
	cursor: pointer;
	margin-left: 20px;
}
.face-logo {
	width: 30px;
	border: 1px solid #c9c9c9;
	padding: 2px;
	border-radius: 7px;
	cursor: pointer;
	margin-left: 20px;
}
.apple-logo {
	width: 30px;
	border: 1px solid #c9c9c9;
	padding: 2px;
	border-radius: 7px;
	cursor: pointer;
	margin-left: 20px;
}
.logo-box-first {
	padding-bottom: 40px;
}
.head {
	display: flex;
	justify-content: space-around;
	background-color: #4d95ea;
	/* align-items: center; */
}
.head-h2 {
	font-weight: 860;
	font-size: 64px;
	width: 500px;
	color: #fff;
}
.head-btn {
	width: 130px;
	height: 32px;
	border: none;
	border-radius: 8px;
	background-color: #ffc300;
	cursor: pointer;
}
